[submodule "vendor/latent-diffusion"]
	path = vendor/latent-diffusion
	url = https://github.com/enolan/latent-diffusion.git
[submodule "vendor/taming-transformers"]
	path = vendor/taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
